* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    background: linear-gradient(#ffffff, #c0c0c0);
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

#app {
    border: 3px black solid;
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    max-width: 350px;
}


input {
    width: 55%;
    text-align: center;
}


main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}